In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("upwork-jobs.csv")
df.head()

,title,link,description,published_date,is_hourly,hourly_low,hourly_high,budget,country
0,Experienced Media Buyer For Solar Pannel and R...,https://www.upwork.com/jobs/Experienced-Media-...,We’re looking for a talented and hardworking a...,2024-02-17 09:09:54+00:00,False,NaN,NaN,500.0,NaN
1,Full Stack Developer,https://www.upwork.com/jobs/Full-Stack-Develop...,Job Title: Full Stack DeveloperWe are seeking ...,2024-02-17 09:09:17+00:00,False,NaN,NaN,1100.0,United States
2,SMMA Bubble App,https://www.upwork.com/jobs/SMMA-Bubble-App_%7...,I need someone to redesign my bubble.io site t...,2024-02-17 09:08:46+00:00,True,10.0,30.0,NaN,United States
3,Talent Hunter Specialized in Marketing,https://www.upwork.com/jobs/Talent-Hunter-Spec...,Join Our Growing Team!We are an innovative com...,2024-02-17 09:08:08+00:00,NaN,NaN,NaN,NaN,United States
4,Data Engineer,https://www.upwork.com/jobs/Data-Engineer_%7E0...,We are looking for a resource who can work par...,2024-02-17 09:07:42+00:00,False,NaN,NaN,650.0,India

In [6]:
df = df.drop(['link', 'published_date', 'is_hourly', 'hourly_low', 'hourly_high', 'country'], axis=1)
df.head()

,title,description,budget
0,Experienced Media Buyer For Solar Pannel and R...,We’re looking for a talented and hardworking a...,500.0
1,Full Stack Developer,Job Title: Full Stack DeveloperWe are seeking ...,1100.0
2,SMMA Bubble App,I need someone to redesign my bubble.io site t...,NaN
3,Talent Hunter Specialized in Marketing,Join Our Growing Team!We are an innovative com...,NaN
4,Data Engineer,We are looking for a resource who can work par...,650.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53058 entries, 0 to 53057
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        53058 non-null  object
 1   description  53058 non-null  object
 2   budget       21873 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.2+ MB

In [10]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21873 entries, 0 to 53057
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        21873 non-null  object
 1   description  21873 non-null  object
 2   budget       21873 non-null  float64
dtypes: float64(1), object(2)
memory usage: 683.5+ KB

In [11]:
df.to_csv("preprocessed-upwork-jobds.csv", index=False)